#
# Copyright (c) 2021 Daniel Veilleux
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

menuconfig RAD_MSG_TYPE_RAD
	bool "Rad implementation for working with Rad messages"

if RAD_MSG_TYPE_RAD

module = RAD_MSG_TYPE_RAD
module-str = RAD_MSG_TYPE_RAD
source "${ZEPHYR_BASE}/subsys/logging/Kconfig.template.log_config"

endif # RAD_MSG_TYPE_RAD
